<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<mappers>-->
        <!--&lt;!&ndash;userMapper.xml装载进来  同等于把“dao”的实现装载进来 &ndash;&gt;-->
        <!--<mapper resource="./mapper/OrgInfoMapper.xml"/>-->
    <!--</mappers>-->
</configuration>