<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- setting -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J" />
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--
        包级别重命名
        @Aliase 注解
    -->
    <!--<typeAliases>-->
        <!--<typeAlias type="com.ariclee.mybatis.org.OrgInfoPo" alias="ooo"/>-->
    <!--</typeAliases>-->

    <!--<typeHandlers></typeHandlers>-->

    <!--<plugins>-->
        <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->

    <!--
        使用 default 属性指定使用什么环境的配置
        Configuration
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">

                <!-- mysql -->
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://172.18.12.64:3306/spms?useSSL=false"/>-->

                <!-- oracle -->
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@10.60.45.207:1521:dbtest"/>

                <property name="username" value="rhf"/>
                <property name="password" value="rhf"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--
            - 有 xml 文件，文件名必须和接口同名，并且放在同一目录下
            - 没有 xml 文件，使用注解方式实现
        -->
        <!--<mapper resource="./mapper/*.xml"/>-->
        <mapper resource="./mapper/OrgInfoMapper.xml"/>
        <!--<mapper class="com.ariclee.mybatis.org.mapper.OrgInfoAnnotationMapper"/>-->
        <!--<package name="com.ariclee.mybatis.org.mapper"/>-->
    </mappers>
</configuration>