<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ariclee.mapper.NviRecordMapper">

    <resultMap id="BaseResultMap" type="com.ariclee.dto.NviRecord">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="createdOn" jdbcType="TIMESTAMP" property="createdOn"/>
    </resultMap>

    <insert id="insert" parameterType="com.ariclee.dto.NviRecord">
        INSERT INTO NviRecord (
        id, orderNo, createdOn, appliName, identifyType, identifyNumber, appliSex, appliBirthDate, appliMobilephone,
        projectCode, projectName, operateDate, startDate, endDate, geographicalArea, sumPremium, sumInsured, uwCount,
        licenseNo, seatCount, frameNo, certificateNo, state)
        VALUES (
        #{id, jdbcType=VARCHAR}, #{orderNo, jdbcType=VARCHAR}, #{createdOn, jdbcType=TIMESTAMP}, #{appliName, jdbcType=VARCHAR},
        #{identifyType, jdbcType=VARCHAR}, #{identifyNumber, jdbcType=VARCHAR}, #{appliSex, jdbcType=VARCHAR},
        #{appliBirthDate, jdbcType=VARCHAR}, #{appliMobilephone, jdbcType=VARCHAR}, #{projectCode, jdbcType=VARCHAR},
        #{projectName, jdbcType=VARCHAR}, #{operateDate, jdbcType=VARCHAR}, #{startDate, jdbcType=VARCHAR},
        #{endDate, jdbcType=VARCHAR}, #{geographicalArea, jdbcType=VARCHAR}, #{sumPremium, jdbcType=VARCHAR},
        #{sumInsured, jdbcType=VARCHAR}, #{uwCount, jdbcType=VARCHAR}, #{licenseNo, jdbcType=VARCHAR},
        #{seatCount, jdbcType=VARCHAR}, #{frameNo, jdbcType=VARCHAR}, #{certificateNo, jdbcType=VARCHAR}, #{state, jdbcType=VARCHAR}
        )
    </insert>

    <select id="queryRecord" resultMap="BaseResultMap">
        select * from NviRecord where orderNo = #{orderNo}
    </select>

    <select id="queryByProposalNo" resultMap="BaseResultMap">
        select * from NviRecord where proposalNo=#{proposalNo}
    </select>

    <update id="updateState" >
        update NviRecord
        <set>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where orderNo=#{orderNo}
    </update>

    <update id="updateProposalNoAndState" >
        update NviRecord
        <set>
            <if test="proposalNo != null">
                proposalNo=#{proposalNo},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where orderNo=#{orderNo}
    </update>

    <update id="updateTradeNoAndStatePre" >
        update NviRecord
        <set>
            <if test="bankTradeNo != null">
                bankTradeNo=#{bankTradeNo},
            </if>
            <if test="state != null">
                state= (case when state='22' then '22' else #{state} end ),
            </if>
        </set>
        where proposalNo=#{proposalNo}
    </update>

    <update id="updatePolicyInfoAndState" >
        update NviRecord
        <set>
            <if test="policyNo != null">
                policyNo=#{policyNo},
            </if>
            <if test="policyUrl != null">
                policyUrl=#{policyUrl},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where proposalNo=#{proposalNo}
    </update>

    <update id="updateEInvoiceUrl" >
        update NviRecord set eInvoiceUrl=#{eInvoiceUrl} where proposalNo=#{proposalNo}
    </update>

</mapper>