<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ariclee.mybatis.mapper.OrgInfoMapper">

    <resultMap id="OrgInfoMap" type="com.ariclee.mybatis.OrgInfoPo">
        <id column="id" property="id" />
        <result column="org_name" property="orgName"/>
        <result column="org_code" property="orgCode"/>
        <result column="create_time" property="createTime"/>
        <result column="scene" property="scene" javaType="com.ariclee.mybatis.SceneEnum" typeHandler="com.ariclee.mybatis.EnumValueTypeHandler"/>
    </resultMap>

    <select id="getBy" parameterType="com.ariclee.mybatis.QueryOrgInfoReq" resultMap="OrgInfoMap">
        SELECT * FROM org_info_test where 1=1 and id=#{id}
    </select>
</mapper>